<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proj-BackEnd</title>
     <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <h2>{{>header}}</h2>
    <h2 class="h2">{{title}} in hbs page</h2>
    <h2 class="h2desc">DESC is => {{desc}}</h2>
    <div class="div1"> <div class="div2">
    <img src={{img2}} alt="pic1"/>
    <div class="content">
         <h2>name is : {{name}}</h2>
    <h2>age is : {{age}}</h2>
    <h2>city is : {{city}}</h2>
    <h2>University is : {{uni2}}</h2>
    </div>
   </div>
    </div>

 <h2>{{>footer}}</h2>
</body>
</html>